.container {
    margin: 0 auto;
    width: 1150px;
}

@media only screen and (max-width: 480px) {
    .container{    
        width: 100%;
    }
}

.element {
    background: gray;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 15px;
}
    @media only screen and (max-width: 480px) {
       .element{
        width: 100%;
        }

}

.logo{
    height: 100px;
    line-height: 100px;
}
    @media only screen and (max-width: 480px) {
        .logo{
        width: 100%;
        }
    

}

.baner {
    height: 200px;
    line-height: 200px;
}
    @media only screen and (max-width: 480px) {
        .baner{
        width: 100%;
        }

}

.image {
    display: inline-block;
    line-height: 200px;
    width: 200px;
    vertical-align: top;
    
}
    @media only screen and (max-width: 480px) {
        .image{
        width: 100%;
        }
}

.text {
    display: inline-block;
    line-height: 40px;
    width: 934px;
    margin-left: 12px;
    vertical-align: top;
}
    @media only screen and (max-width: 480px) {
        .text {
            width: 100%;
        }
}


.footer {
    height: 50px;
    line-height: 50px;
}
    @media only screen and (max-width: 480px) {
        .footer{
        width: 100%;
        }
}